.cover__title {
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    color: #FFFFFF;
    text-decoration: none;
    width: 560px;
    text-align: center;
    z-index: 50;
    display: grid;
    margin: auto;
  }

  /*-----------------------Media 768----------------------*/
@media screen and (max-width: 1023px) and (min-width: 768px) {


    .cover__title {
      font-style: normal;
      font-weight: 900;
      font-size: 9.375vw;
      line-height: 9.896vw;
      color: #FFFFFF;
      text-decoration: none;
      display: flex;
      width: calc(100% - 27.083vw);
      text-align: center;
      margin: auto;
    }
}

/*-----------------------Media 320----------------------*/

@media screen and (max-width: 424px) and (min-width: 320px) {


    .cover__title {
      font-style: normal;
      font-weight: 900;
      font-size: 10.000vw;
      line-height: 10.938vw;
      color: #FFFFFF;
      text-decoration: none;
      width: calc(100% - 25.000vw);
      text-align: center;
    }
}

/*-----------------------Media 425----------------------*/

@media screen and (max-width: 767px) and (min-width: 425px) {


    .cover__title {
      font-style: normal;
      font-weight: 900;
      font-size: 10.000vw;
      line-height: 10.938vw;
      color: #FFFFFF;
      text-decoration: none;
      width: calc(100% - 25.000vw);
      text-align: center;
    }
}

/*-----------------------Media 1024----------------------*/

@media screen and (min-width: 1024px) and (max-width: 1279px) {


    .cover__title {
      font-style: normal;
      font-weight: 900;
      font-size: 7.031vw;
      line-height: 7.422vw;
      color: #FFFFFF;
      text-decoration: none;
      display: flex;
      width: calc(100% - 45.313vw);
      text-align: center;
    }
}

